@import "tailwindcss";
@import "@heroui/styles"; 




@media (prefers-color-scheme: dark) {
  :root {
    --background: #a37bdba3;
    
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
